:root {
  --grey: rgb(35, 35, 35);
  --obsidian: rgb(30, 30 ,30); 
  --white: rgb(222, 222, 222);
  --aquamarine: rgb(127, 255, 212);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--grey);
}

/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--white);
}

.logo-name {
  text-decoration: none;  
}

#navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.nav-links {
  list-style: none;  
}

.nav-links li {
  display: inline-block;
  padding: 0px 25px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav-links li a:hover {
  color: var(--aquamarine);
}

a:link, a:active, a:visited {
  color: var(--white);
}

.social-links {
  font-size: 25px;
}

.fa {
  padding: 30px;
  text-decoration: none;
}

.fa:hover {
  color: var(--aquamarine);
  transition: all 0.3s ease 0s;
}

/* END OF NAVIGATION BAR */

/* INTRODUCTION SECTION */

#welcome-section {
  position: absolute;
  top: 50px;
  color: var(--white);
  font-family: Montsserat, Sans-serif;
}

/* END OF INTRODUCTION SECTION */

/* PROJECT SECTION */

#projects {
  position: fixed;
  top: 150px;
  color: var(--white);
  font-family: Montsserat, Sans-serif;
}

/* END OF PROJECT SECTION */

/* CONTACT SECTION */

#contact {
  position: fixed;
  top: 300px;
  color: var(--white);
  font-family: Montsserat, Sans-serif;
}

/* END OF CONTACT SECTION */
